body {
    background: #f0f0f0;
}
header {
    cursor: pointer;
    line-height: 1.5;
}
header .xPoTryMN_0 {
    fill:#494951;
    fill-opacity: 0.0;
    stroke-dasharray:3456 3458;stroke-dashoffset:3457;
    animation:xPoTryMN_draw 2s linear 0s forwards, KLxHEKXr_fill 500ms ease 2s forwards;
}
header .xPoTryMN_1 {
    fill:#494951;
    fill-opacity: 0.0;
    stroke-dasharray:790 792;stroke-dashoffset:791;
    animation:xPoTryMN_draw 1.5s linear 0.5s forwards, KLxHEKXr_fill 500ms ease 2s forwards;
}
header .xPoTryMN_2 {
    fill:#494951;
    fill-opacity: 0.0;
    stroke-dasharray:93 95;stroke-dashoffset:94;
    animation:xPoTryMN_draw 1s linear 0.5s forwards, KLxHEKXr_fill 500ms ease 2s forwards;
}
header .xPoTryMN_3 {
    fill:#f0f0f0;
    stroke-dasharray:51 53;stroke-dashoffset:52;
    animation:xPoTryMN_draw 1s linear 1s forwards;
}
header .xPoTryMN_4 {
    fill:#f0f0f0;
    stroke-dasharray:176 178;stroke-dashoffset:177;
    animation:xPoTryMN_draw 1s linear 0.75s forwards, KLxHEKXr_fill 500ms ease 4s forwards;
}
header .headArtemArt {
    display: table;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
}
.header-display-middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    margin: auto;
}
/* линии под/над svg */
header .header-line {
    margin: 0 auto;
    width: 0;
    height: 6px;
    background: #494952;
}
/* svg Музей */
header .header-svg {
    width:340px;
    margin: 30px auto 24px;
}
/* анимированный текст */
header p, header .enter {
    font-size: 24px;
    text-align: center;
    font-family: "Acrom-Bold", sans-serif;
    margin-bottom: -8px;
    margin-top:-8px;
}
/* обёртка над текстом */
header .header-text {
    margin-bottom: 26px;
    opacity: 0;
}
header .enter {
    margin-top: 26px;
}
header .enter span:hover {
    text-decoration: underline;
}

@media screen and (max-height: 640px), screen and (max-width: 500px) {
    header .header-line {
        width:0;
        height: 4px;
        max-width: 220px;
    }
    header .header-svg {
        width:200px;
        margin: 16px auto 14px;
        height: 100px;
    }
    header p, header .enter {
        font-size: 18px;
        text-align: center;
        font-family: "Acrom-Bold", sans-serif;
        margin-bottom: -8px;
        margin-top:-8px;
    }
    header .header-text {
        margin-bottom: 16px;
        opacity: 0;
    }
    header .enter {
        margin-top: 16px;
    }

}


@media screen and (max-height: 320px), screen and (max-width: 280px) {
    header .header-line {
        width:0;
        height: 3px;
        max-width: 140px;
    }
    header .header-svg {
        width:140px;
        margin: 8px auto 6px;
        height: 70px;
    }
    header p, header .enter {
        font-size: 12px;
        text-align: center;
        font-family: "Acrom-Bold", sans-serif;
        margin-bottom: -4px;
        margin-top:-4px;
    }
    header .header-text {
        margin-bottom: 12px;
        opacity: 0;
    }
    header .enter {
        margin-top: 12px;
    }

}
a:link,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #494952;
}
