html {
	font-size: 16px;
}

.museum-upheader {
	background-color: #428bca;
}

.museum-container {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.museum-header {
	background-color: #428bca;
	margin-bottom: 2rem;
}

.museum-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.nav-link {
	position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}

.nav-link.active {
	color: #fff;
}

.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}
.blog-title {
	font-size: 3rem;
}

.post {
	margin-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 1px dashed gray;
}
