/*
#f0f0f0; серый фон
#fff;  белый фон
#989797; серый светлый текст
#007bc6; синий сибгиу
#b8e4ff; голубой сибгиу
#494952; серый темный текст
#bcbaba; для футера
*/

@font-face {
    font-family: 'Acrom-Bold';
    src: url('../fonts/Acrom-Bold.eot');
    src: url('../fonts/Acrom-Bold.eot?#iefix') format("embedded-opentype"),
    url(../fonts/Acrom-Bold.woff) format('woff'),
    url(../fonts/Acrom-Bold.otf) format('otf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format("embedded-opentype"),
    url(../fonts/OpenSans-Bold.woff) format('woff'),
    url(../fonts/OpenSans-Bold.ttf) format('ttf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format("embedded-opentype"),
    url(../fonts/OpenSans-Regular.woff) format('woff'),
    url(../fonts/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format("embedded-opentype"),
    url(../fonts/OpenSans-Light.woff) format('woff'),
    url(../fonts/OpenSans-Light.ttf) format('ttf');
}
@font-face {
    font-family: 'MinionPro-Medium';
    src: url('../fonts/MinionPro-Medium.eot');
    src: url('../fonts/MinionPro-Medium.eot?#iefix') format("embedded-opentype"),
    url(../fonts/MinionPro-Medium.woff) format('woff'),
    url(../fonts/MinionPro-Medium.otf) format('otf');
}
@font-face {
    font-family: 'MinionPro-Bold';
    src: url('../fonts/MinionPro-Bold.eot');
    src: url('../fonts/MinionPro-Bold.eot?#iefix') format("embedded-opentype"),
    url(../fonts/MinionPro-Bold.woff) format('woff'),
    url(../fonts/MinionPro-Bold.otf) format('otf');
}








/* Фоновые изображения, символизирующие 4 основные категории */
.museum-image {
    background: url(../images/museum_img.png) no-repeat 790px 55px;
}
.history-image {
    background: url(../images/history_img.png) no-repeat 790px 55px;
}
.projects-image {
    background: url(../images/project_img.png) no-repeat 790px 55px;
}
.student-groups-image {
    background: url(../images/student-group_img.png) no-repeat 790px 55px;
}








/* изображения в разделах 1 уровня показываемые при отсутствии выбранных пользователями */
[class *= placeholder] {
    height: 100%;
    background: no-repeat center center;
    background-size: 90px 90px;
}
.placeholder-news {
    background-image: url(../images/placeholder-news.png);
}
.placeholder-exhibition {
    background-image: url(../images/placeholder-exhibition.png);
}
.placeholder-gift {
    background-image: url(../images/placeholder-gift.png);
}
.placeholder-book {
     background-image: url(../images/placeholder-book.png);
}
.placeholder-image {
    background-image: url(../images/placeholder-image.png);
}
.placeholder-person {
    background-image: url(../images/placeholder-person.png);
}









/* Общие стили */
html {
    font-size: 1px;
    color: #494952;
    font-family: "OpenSans-Regular", sans-serif;
}
header {
    background: #f0f0f0;
    cursor: pointer;
}
main {
    background: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px !important;
    font-size: 14rem;
    min-height: 800px;
}
main a{
    color: #007bc6;
}
main a:link{
    color: #007bc6;
    background-color: transparent;
    text-decoration: none;
}
main a:visited{
    color: #007bc6;
    background-color: transparent;
    text-decoration: none;
}
main a:hover{
    color: #494952;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
main a:active{
    color: #007bc6;
    background-color: transparent;
    text-decoration: none;
}
footer {
    background: #494952;
    width: 100%;
    color: #fff;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    font-family: "OpenSans-Light", sans-serif;
    z-index: 20000;
}
footer a {
    color: #bcbaba;
}
footer a:link{
    color: #bcbaba;
    background-color: transparent;
    text-decoration: none;
}
footer a:visited{
    color: #bcbaba;
    background-color: transparent;
    text-decoration: none;
}
footer a:hover{
    color: #b8e4ff;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
footer a:active{
    color: #007bc6;
    background-color: transparent;
    text-decoration: none;
}
h1 {
    font-family: "Acrom-Bold", sans-serif;
    font-size: 60rem;
    padding-top: 65px !important;
    padding-bottom: 45px !important;
    margin-top: 0;
}
h2 {
    font-size: 30rem;
    margin-top: 40px;
    margin-bottom: 18px;
}
::selection {
    background: #b8e4ff; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #b8e4ff; /* Gecko Browsers */
}
.bold {
    font-family: "OpenSans-Bold", sans-serif;
}
/* ссылка возврата назад */
.to-back {
    font-family: "OpenSans-Regular", sans-serif;
    text-align:right;
    margin-top: 18px;
    font-size: 16rem;
}
/* отключаем красную рамку для input moz */
input:invalid {
    box-shadow: none;
}








/* Header стили */
/* SVG анимация */
header .xPoTryMN_0 {
    fill:#494951;
    fill-opacity: 0.0;
    stroke-dasharray:3456 3458;stroke-dashoffset:3457;
    animation:xPoTryMN_draw 2s linear 0s forwards, KLxHEKXr_fill 500ms ease 2s forwards;
}
header .xPoTryMN_1 {
    fill:#494951;
    fill-opacity: 0.0;
    stroke-dasharray:790 792;stroke-dashoffset:791;
    animation:xPoTryMN_draw 1.5s linear 0.5s forwards, KLxHEKXr_fill 500ms ease 2s forwards;
}
header .xPoTryMN_2 {
    fill:#494951;
    fill-opacity: 0.0;
    stroke-dasharray:93 95;stroke-dashoffset:94;
    animation:xPoTryMN_draw 1s linear 0.5s forwards, KLxHEKXr_fill 500ms ease 2s forwards;
}
header .xPoTryMN_3 {
    fill:#f0f0f0;
    stroke-dasharray:51 53;stroke-dashoffset:52;
    animation:xPoTryMN_draw 1s linear 1s forwards;
}
header .xPoTryMN_4 {
    fill:#f0f0f0;
    stroke-dasharray:176 178;stroke-dashoffset:177;
    animation:xPoTryMN_draw 1s linear 0.75s forwards, KLxHEKXr_fill 500ms ease 4s forwards;
}
/* центрирующая обёртка под header */
header .headArtemArt {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}
/* линии под/над svg */
header .header-line {
    margin: 0 auto;
    width: 0;
    height: 6px;
    background: #494952;
}
/* svg Музей */
header .header-svg {
    width:340px;
    margin: 30px auto 24px;
}
/* анимированный текст */
header p {
    font-size: 24px;
    text-align: center;
    font-family: "Acrom-Bold", sans-serif;
    margin-bottom: -8px;
    margin-top:-8px;
}
/* обёртка над текстом */
header .header-text {
    margin-bottom: 26px;
    opacity: 0;
}
/* извращения артема */
header .headArtemArt .w3-display-bottommiddle {
    bottom: 25px;
}
header #mouse {
    position: relative;
    opacity: 0.0;
}
header #scroll_btn {
    margin: auto;
    position: relative;
    opacity: 0.0;
    background: #494951;
    height: 10px;
    width: 2px;
}








/* Footer стили */
footer > div {
    max-width: 1200px;
    margin: 0 auto;
    color: #bcbaba;
}
footer p {
    line-height: 10px;
    text-align: left;
    font-size: 14rem;
}
footer span {
    white-space: nowrap;
    color: #ffffff;
}
footer .bold {
    color: white;
}
footer .heads {
    margin-bottom: 12px;
    margin-top: 28px;
}
footer .quarttohalf .bold {
    margin-bottom: 0;
}
footer .white {
    font-family: "OpenSans-Regular", sans-serif;
}
footer .contacts {
    margin-top: -2px;
}
footer .siu {
    font-family: 'MinionPro-Medium', sans-serif;
    font-size: 14rem;
    margin-top: 22px;
}
footer .siu-img {
    width: 235px;
    padding-bottom: 15px;
    opacity: 0.5;
}
footer .excursion {
    color: #989797;
    font-family: "OpenSans-Bold", sans-serif;
}








/* Стили навигации / боковое меню */
.mynav{
    font-size: 18rem;
    width: 220px;
    line-height: 15px;
    height: 100vh;
    z-index: 1999;
    overflow: hidden;
    position: absolute;
    top:100vh;
    font-family: "OpenSans-Light", sans-serif;
}
/* выравнивание высоты ссылок */
.mynav a{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* перекрытие стилей w3 */
.mynav a:hover{
    background: white;
    color: #007bc6;
}
/* для бургера */
.hide-large{
    z-index: 1000;
    margin-left: -16px;
}
/* активный элемент меню */
.active {
    border-right: 3px solid black;
    font-family: 'OpenSans-bold', sans-serif;
}
ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}
ul > ul {
    font-size: 16rem;
    color: #494952;
}
ul > ul li span:not(.second-line-margin){
    display: inline-block;
    color: transparent;
    margin-left: 0;
    padding-right: 8px;
}
ul > ul li a{
    max-width: 215px;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}
.sub-menu{
    font-family: 'OpenSans-Regular', sans-serif;
}
li {list-style-type: none;}
/* выравнивание 2 строки в меню */
.second-line-margin
{
    display: block;
    margin-left: 21px;
    margin-top: 5px;
}
/* большой экран меню */
@media (min-width:1740px) {
    .hide-large, .hide-large2 {
        display:none!important;
    }
    .mynav {
        display:block!important;
        padding-top: 0;
        height: inherit;
    }
    .mynav > li:nth-child(1) {
        margin-top: 51px !important;
    }
    .menu-left-border {
        height: 300px;
    }
}
/* маленький экран меню */
@media (max-width:1739px) {
    /* бургер */
    .hide-large {
        position: absolute;
        display: inline-block;
    }
    .mynav {
        display: none;
    }
    .menu-left-border {
        height: 100%;
    }
    #museum {
        margin-top:0;
    }
}
/* линия границы меню*/
.menu-left-border{
    z-index: -1;
    right: 0;
    position:absolute;
    width: 3px;
    background: #f0f0f0;
}
/* Надпись Сибгиу в меню*/
.sibsiu {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 14px;
    font-family: "Acrom-Bold", sans-serif;
    color: #007bc6;
    font-size: 44rem;
    opacity: 0.15;
}















/* основной контент*/
main .notflow p {
    line-height: 20px;
    margin: 0;
}
/* светлый текст авторы, даты публикации*/
.lightGrey {
    font-family: "OpenSans-Regular", sans-serif;
    color: #989797;
}
/* h1 - текст справа зеркальный иностранный*/
.lightGrey-2 {
    color:#f0f0f0;
}

/* обёртка на ссылку ВСЕ ...  страницы 2 уровня*/
.allpubs {
    font-family: "OpenSans-Regular", sans-serif;
    text-align:right;
    margin-bottom: 30px;
    margin-top: 30px;
}
/* отступы для большинства параграфов в main */
.text2 {
    padding-bottom: 8px;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
/* контейенер для div->img как в Museum Список книг или переодических изданий*/
.imgBox1{
    position: relative;
    width: 136px;
    height: 184px;
    background: #f5f2f0;
    float: left;
    margin-right: 15px;
    margin-bottom:20px;
    overflow: hidden;
}
.history-success .imgBox1{
    margin-bottom:0;
}
/* контейенер для div->img как в Museum Новости*/
.imgBox2 {
    position: relative;
    width: 100%;
    background-color: #f5f2f0;
    margin-bottom: 15px;
    height: 200px;
    overflow: hidden;
}









/* Выравнивание ссылок в хронологии создания*/
.history .history-chronics {
    width:210px !important;
    padding-left: 10px;
    padding-top: 4px;
}
/* отмена нижнего отступа для красоты и равенства расстояний при расположении в 1 колонку*/
.history .histoInsts  {
    margin-bottom: -18px !important;
}
/* выравнивание воспоминаний*/
.history .histoMemory{
    margin-bottom: 32px;
}
/* история успеха контейнеры */
.history .history-success {
    padding-left:0;
    padding-right: 0;
    margin-bottom: 20px;
}
/* история успеха. меняем цвет нечетных контейнеров*/
.history .history-success:nth-child(odd){
    background: #f0f0f0;
}
/* история успеха годы */
.history .history-age ul {
    text-align: justify;
}
.history .history-age ul::after {
    width: 100%;
    display: inline-block;
    content: "";
}
.history .history-age li {
    display: inline-block;
}
/* руководители */
.history .history-leader {
    width: 136px;
    margin: auto;
}








/* Адаптация под экраны */
@media screen and (max-width: 1200px) {
    main .w3-quarter {
        width:49.99999%; margin-top: 20px;
    }
    .quarter-to-2 {
        clear:both
    }
    .imgBox2 {
        height: 300px;
    }
    footer p {
        line-height: normal;
        text-align: left;
        font-size: 14rem;
        margin: 0;
    }
    .history .leaders .w3-quarter {
        width: 24.99999%;
    }
}
@media screen and (min-width: 981px) {
    /* появление скролл эффекта */
    #scroll_btn {
        display: block !important;
    }
}
@media screen and (max-width: 980px) {
    .w3-half {
        width:99.99999%;
    }
    .imgBox2 {
        height: 250px;
    }
    #mouse {
        display: none;
    }
    #scroll_btn {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    main .w3-col{
        width: 100% !important;
        display: block;
    }
    .history .leaders .w3-quarter {
        width: 49.99999%;
        margin: auto;
    }
}
@media screen and (max-width: 680px) {
    main .w3-quarter {
        width:99.99999%;
        margin-top: 20px;
    }
    footer .w3-quarter {
        width:99.99999%;
        margin-top: -20px;
    }
    .footerbold {
        margin-bottom: 12px;
        margin-top: 36px;
    }
    .imgBox2 {
        height:350px;
    }
    .contacts {
        margin-left: 0;
    }
}
@media screen and (max-width: 540px) {
    .history .leaders .w3-quarter {
        width: 99.99999%;
        margin: 0 auto;
    }
    .imgBox2 {
        height:250px;
    }
}
@media screen and (max-height: 640px) {
    #mouse {
        display: none;
    }
    #scroll_btn {
        display: none;
    }
    .header-line {
        width:0;
        height: 4px;
        max-width: 220px;
    }
    .header-svg {
        width:200px;
        margin: 16px auto 14px;
    }
    header p {
        font-size: 18px;
        text-align: center;
        font-family: "Acrom-Bold", sans-serif;
        margin-bottom: -8px;
        margin-top:-8px;
    }
    .header-text {
        margin-bottom: 16px;
        opacity: 0;
    }
    .headArtemArt .w3-display-bottommiddle {
        bottom: 25px;
    }
    #mouse {
        position: relative;
        opacity: 0.0;
    }
    #scroll_btn {
        margin: auto;
        position: relative;
        opacity: 0.0;
        background: #494951;
        height: 10px;
        width: 2px;
    }
}

.about {
    font-family: "OpenSans-Light", sans-serif;
    font-size: 18rem;
    line-height: 28px;
}
h2 {
    overflow: hidden;
    z-index: 999;
    border-right: 16px solid white;
}
h2:after {
    content:"";
    display: inline-block !important;
    height: 0.5em;
    width: 100%;
    margin-right: -100%;
    margin-bottom: -13px;
    border-top: 2px solid #f0f0f0;
    position: relative;
    left: 20px;
    z-index: 0;
}

/* избавляемся от марджина для картинок в категории книги */
.books .imgBox1 {
    margin-bottom: 0 !important;
}
.book .imgBox1 {
    margin-bottom: 0 !important;
}
#pagination .tudasuda {
    margin-top: 18px;
    text-align: center;
}
#pagination .tudasuda li {
    background: #f0f0f0;
    display: inline-block;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 10px;
}
#pagination .tudasuda li a{
    color: #494952;
}

/* надстройка изображений для новостей и выставок */
.entitylist .imgBox2 {
    height: 400px;
    max-width:800px;
    margin: 0 auto;
}
.entity-image {
    height: 400px;
    max-width:800px;
    margin: 0 auto;
}
/*
.search-input input[type=text]
{
    width: 100%;
    margin-bottom: 50px;
    height: 50px;
    font-size: 18rem;
    outline:none;

    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

    background: rgba(255, 255, 255, 0.75);
    color: #494952;
}

.search-input input[type=button]
{
    display:inline-block;
    float: right;
    cursor: pointer;
    border: 0;
    outline: none;
    background: transparent url(../images/search.png) no-repeat;
    height:32px;
    width: 32px;
    margin-right: 10px;
    margin-top: -95px;
    opacity: 0.25;
}

.search-input input::-ms-clear {
    display: none;
}
*/

.more {
    font-family: "OpenSans-Regular", sans-serif;
    text-align:right;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16rem;
}
.entitylist .textrow1 {
    border-bottom:  1px dashed #989797;
    margin-top: 15px;
}
.to-begin {
    font-family: "OpenSans-Regular", sans-serif;
    text-align:center;
    font-size: 16rem;
}
.table-margin {
    margin-top: 20px !important;
}
.entity table th {
    color: #fff;
    background: #007bc6;
    border: 0;
}
.entity table td {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.entitylist p, .entity p {
    font-size: 16rem;
    line-height: 26px!important;
}
/* ссылка справа у заголовков верхнего уровня h1 */
.h1-to-form {
    position: relative;
    top:-94px;
    text-align: right;
    margin-bottom: -47px;
}
.h1-to-form img {
    border:1px solid transparent;
    width: 32px;
    height: 32px;
    padding: 2px;
}
.h1-to-form img:hover {
    background: #f8f8f8;
    border:1px solid  #f0f0f0;
}
/* ссылка справа у заголовков элементов */
.p-to-form {
    position: relative;
    top:-28px;
    float: right;
}
.p-to-form img {
    width: 32px;
    height: 32px;
    padding: 4px;
    border: 1px solid transparent;
}
.p-to-form img:hover {
    background: #f8f8f8;
    border:1px solid  #f0f0f0;
}








/* The snackbar - position it at the bottom and in the middle of the screen */
.login-snack-bar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
.login-snack-bar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    -moz-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-moz-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@-moz-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}







/* выход с сайта */
.button-container-logout {
    float: right;
}
.button-container-logout  button{
    outline: 0;
    cursor: pointer;
    background: #fff;
    border: none;
    padding: 14px 0;
    font-size: 20px;
    color: #007bc6;
    margin-top:0;
    font-family: "OpenSans-Regular", sans-serif;
}








/* элементы добавления, изменения, удаления */
.edit-forms p {
    margin-top: 15px;
    margin-bottom: 0;
}
.edit-forms input {
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}
.edit-textarea {
     width: 100%;
     margin-top:10px;
     margin-bottom:10px;
}
.edit-textarea textarea{
    width: 100%;
    height: 250px;
}
.edit-textarea-name textarea{
    width: 100%;
    height: 32px;
    margin-top:10px;
    margin-bottom:10px;
}
.entity-image-container {
    width: 300px;
    height: 220px;
    margin: 10px 20px 10px 0;
    position: relative;
    float: left;
    overflow:hidden;
}








.entity-image-add {
    position: relative;
    overflow: hidden;
    float: left;
    background-color: #e0f9d4;
    width: 300px;
    height:220px;
    margin: 10px 20px 10px 0;
    border: 3px dashed limegreen;
}
.entity-file-add {
    position: relative;
    overflow: hidden;
    width: 32px;
    height:32px;
    margin: -5px;
}
.entity-image-edit,
.entity-image-delete {
    position: absolute;
    background-color: #ffffff;
    width: 30px;
    height:30px;
    right: 0;
    z-index: 1;
}
.entity-image-add input[type="file"],
.entity-file-add input[type="file"],
.entity-image-edit input[type="file"],
.entity-image-delete input[type="submit"]{
    display: none;
}
.entity-image-add label,
.entity-file-add label,
.entity-image-edit label,
.entity-image-delete label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid transparent;
}
.entity-image-add label:hover,
.entity-file-add label:hover,
.entity-image-edit label:hover,
.entity-image-delete label:hover {
    background-color: #f8f8f8;
    border:1px solid  #f0f0f0;
}
.entity-image-add label,
.entity-file-add label {
    background: url("../images/add.png") no-repeat center;
}
.entity-image-edit label {
    background: url("../images/edit.png") no-repeat center;
}
.entity-image-delete label {
    background: url("../images/delete.png") no-repeat center;
}









/* delete form */
.delete {
    margin: 0 auto;
    font-size: 18rem;
}
.delete button {
    color: white;
    background-color: #f44336;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
.delete .cancel-button {
    background-color: #007bc6;
}
.delete .cancel-button,
.delete .delete-button {
    float: left;
    width: 50%;
    max-width: 500px;
}
.delete .container {
    padding: 16px;
    max-width: 600px;
    margin: auto;
    padding-top: 20%;
}
@media screen and (max-width: 600px) {
    .delete .cancel-button, .delete .delete-button {
        width: 100%;
    }
}








.books .p-to-form {
    position: relative;
    top:-48px !important;
    float: right;
}
main .quarter-to-2 {
    margin-left:-16px;
    margin-right: -16px;
}
#images .imgBox2 {
    height: 220px;
}

.expositions .p-to-form {
    height: 20px;
}