{% extends "layout.html" %}

{% block content %}
<div id="main" class="edit-forms history-image" data-location="books">
    <h1 class="caption w3-xxlarge">Книги: {{ title|lower }}</h1>
    <div >
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            {% if id %}
            <input type="hidden" name="id" value="{{ id }}">
            {% else %}
            <input type="hidden" name="context" value="{{ context }}">
            {% endif %}

            <p class="bold w3-large">Название книги</p>
            {% if errors.name %}
            <div  class="login-snack-bar">
                Вы не указали название книги
            </div>
            {% endif %}
            <input type="text" name="name" value="{{ params.name|raw }}" autocomplete="off">

            {% if not id %}
            <p class="bold w3-large">Обложка книги</p>
            {% if errors.image %}
            <div  class="login-snack-bar">
                Вы не указали обложку книги
            </div>
            {% endif %}
            <div class="edit-file">
                <input class="input-file" type="file" id="file" name="image">
                <label class="forJsLabelFile" for="file">
                    <span class="forJsFileName">Выберите файл</span>
                </label>
            </div>
            {% endif %}

            <p class="bold w3-large">Аннотация книги</p>
            {% if errors.content %}
            <div  class="login-snack-bar">
                Вы не указали аннотацию книги
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="content">{{ content|raw }}</textarea>
            </div>

            <p class="bold w3-large">Описание книги</p>
            {% if errors.description %}
            <div  class="login-snack-bar">
                Вы не указали описание книги
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="description">{{ params.description|raw }}</textarea>
            </div>

            <div class="button-container-logout">
                <button type="submit" name="cancel">Отмена</button>
                <button type="submit" name="accept">Подтвердить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
