{% extends "layout.html" %}

{% block content %}
<form method="post">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Название</label>
        <div class="col-sm-10">
            <input class="form-control" name="name" id="name" value="{{ data.name|raw }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="abstract" class="col-sm-2 col-form-label">Аннотация</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="abstract" id="abstract">{{ data.abstract|raw }}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="info" class="col-sm-2 col-form-label">Описание</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="info" id="info">{{ data.info|raw }}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="content" class="col-sm-2 col-form-label">Контент</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="content" id="content">{{ content|raw }}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary" name="auth">Подтвердить</button>
        </div>
    </div>
</form>
{% endblock %}