{% extends "layout.html" %}

{% block content %}
<div id="main" class="delete" data-location="{{ context }}">
    <div class="container">
        <form method="post" autocomplete="off">
            <input type="hidden" value="{{ id }}" name="id">
            <p class="w3-container">Удалить объект с ID равным "{{ id }}"?</p>
            <div class="clearfix">
                <button class="cancel-button" type="submit" value="cancel" name="cancel">Отмена</button>
                <button class="delete-button" type="submit" value="accept" name="accept">Удалить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
