{% extends "layout.html" %}

{% block content %}
<div id="main" class="exposition edit-forms museum-image" data-location="exposition">
    <h1 class="caption w3-xxlarge">Список экспозиций: {{ title|lower }}</h1>
    <div>
        <form method="post" autocomplete="off">
            {% if id %}
            <input type="hidden" name="id" value="{{ id }}">
            {% else %}
            <input type="hidden" name="context" value="{{ context }}">
            {% endif %}

            <p class="bold w3-large">Название экспозиции</p>
            {% if errors.name %}
            <div class="login-snack-bar">
                Вы не указали название экспозиции
            </div>
            {% endif %}
            <input type="text" name="name" value="{{ params.name|raw }}">

            <p class="bold w3-large">Описание экспозиции</p>
            {% if errors.content %}
            <div class="login-snack-bar">
                Вы не указали описание экспозиции
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="content" class="tiny">{{ content|raw }}</textarea>
            </div>

            <div class="button-container-logout">
                <button type="submit" name="cancel">Отмена</button>
                <button type="submit" name="accept">Подтвердить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
