{% extends "layout.html" %}

{% block content %}
<div id="main" class="geologic edit-forms museum-image" data-location="geologic">
    <h1 class="caption w3-xxlarge">Геологический музей</h1>
    <div>
        <form method="post">
            <input type="hidden" name="id" value="{{ id }}">
            <p class="bold w3-large">Краткое описание музея:</p>
            {% if errors.content %}
            <div  class="login-snack-bar">
                Вы не указали краткое описание музея
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="content">{{ content|raw }}</textarea>
            </div>
            <p class="bold w3-large">Подробное описание музея:</p>
            {% if errors.fulltext %}
            <div  class="login-snack-bar">
                Вы не указали подробное описание музея
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="fulltext" class="tiny">{{ params.fulltext|raw }}</textarea>
            </div>
            <div class="button-container-logout">
                <button type="submit" name="cancel">Отмена</button>
                <button type="submit" name="accept">Подтвердить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
