{% extends "layout.html" %}

{% block content %}
<div id="main" class="new edit-forms" data-location="news">
    <h1 class="caption w3-container w3-xxlarge">Новости: {{ title|lower }}</h1>
    <div class="w3-row textrow1 w3-container ">
        <form method="post" enctype="multipart/form-data">
            {% if id %}
            <input type="hidden" name="id" value="{{ id }}">
            {% else %}
            <input type="hidden" name="context" value="{{ context }}">
            {% endif %}


            <p class="bold w3-large">Заголовок новости:</p>
            {% if errors.name %}
            <div>
                Вы не указали заголовок новости
            </div>
            {% endif %}
            <input type="text" name="name" value="{{ params.name|raw }}">

            <p class="bold w3-large">Краткое описание новости:</p>
            {% if errors.content %}
            <div>
                Вы не указали краткое описание новости
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="content">{{ content|raw }}</textarea>
            </div>

            {% if not id %}
            <p class="bold w3-large">Картинка новости:</p>
            {% if errors.image %}
            <div>
                Прикрепленный файл не являлся изображением
            </div>
            {% endif %}
            <input type="file" class="form-control" name="image" id="image">
            {% endif %}

            <p class="bold w3-large">Подробное описание новости:</p>
            {% if errors.fulltext %}
            <div>
                Вы не указали подробное описание новости
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="fulltext" class="tiny">{{ params.fulltext|raw }}</textarea>
            </div>

            <div class="button-container-logout w3-container">
                <button type="submit" name="cancel">Отмена</button>
                <button type="submit" name="accept">Подтвердить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
