{% extends "layout.html" %}

{% block content %}
<div id="main" class="edit-forms museum-image" data-location="exhibitions">
    <h1 class="caption w3-xxlarge">День дарителя: {{ title|lower }}</h1>
    <div>
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            {% if id %}
            <input type="hidden" name="id" value="{{ id }}">
            {% else %}
            <input type="hidden" name="context" value="{{ context }}">
            {% endif %}

            <p class="bold w3-large">Название подарка</p>
            {% if errors.name %}
            <div class="login-snack-bar">
                Вы не указали название подарка
            </div>
            {% endif %}
            <input type="text" name="name" value="{{ params.name|raw }}">

            <p class="bold w3-large">Сведения о дарителе</p>
            {% if errors.presenter %}
            <div class="login-snack-bar">
                Вы не указали сведения о дарителе
            </div>
            {% endif %}
            <input type="text" name="presenter" value="{{ params.presenter|raw }}">

            {% if not id %}
            <p class="bold w3-large">Изображение подарка</p>
            {% if errors.image %}
            <div class="login-snack-bar">
                Вы не указали изображение подарка
            </div>
            {% endif %}
            <input type="file" name="image">
            {% endif %}

            <p class="bold w3-large">Краткое описание подарка</p>
            {% if errors.content %}
            <div class="login-snack-bar">
                Вы не указали краткое описание подарка
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="content">{{ content|raw }}</textarea>
            </div>

            <p class="bold w3-large">Подробное описание подарка</p>
            {% if errors.fulltext %}
            <div class="login-snack-bar">
                Вы не указали подробное описание подарка
            </div>
            {% endif %}
            <div class="edit-textarea">
                <textarea name="fulltext" class="tiny">{{ params.fulltext|raw }}</textarea>
            </div>

            <div class="button-container-logout">
                <button type="submit" name="cancel">Отмена</button>
                <button type="submit" name="accept">Подтвердить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
