{% extends "layout.html" %}

{% block content %}
<div id="main" class="museumabout entity museum-image" data-location="museumabout">
    <h1 class="caption w3-xxlarge">О музее</h1>
    {% if admin %}
    <div class="h1-to-form">
        <a href="{{ wwwroot }}/admin/edit.php?id={{ entity.id }}"><img src="{{ wwwroot }}/images/edit.png"/></a>
    </div>
    {% endif %}
    <div class="post-tiny">
        {{ entity.params.fulltext|raw }}
    </div>
    <div class="w3-row"></div>
    <div class="to-begin"><a href="{{ wwwroot }}/museum.php">В начало</a></div>
</div>
{% endblock %}
