{% extends "layout.html" %}

{% block content %}
    {% if admin %}
        <div class="post">
            <a href="{{ edit_link }}">Редактировать</a><br>
            <a href="{{ delete_link }}">Удалить</a><br>
        </div>
    {% endif %}
    <div class="post">
        {% if error == 1 %}
            <h2>Книга не найдена</h2>
        {% else %}
            <h3>{{ name }}</h3>
            {% if image is defined %}
            <div>
                <img src="{{ image }}">
            </div>
            {% endif %}
            <div>Автор: {{ author|raw }}</div>
            {{ content|raw }}
        {% endif %}
    </div>
{% endblock %}
