{% extends "layout.html" %}

{% block content %}
<div id="main" class="entity museum-image" data-location="exhibitions">
    <h1 class="caption w3-xxlarge">События в музее</span></h1>
    <div >
        <p class="bold w3-large w3-margin-0">
            {{ entity.params.name|raw }}
        </p>
        {% if admin %}
        <div class="p-to-form">
            <a href="{{ wwwroot }}/admin/edit.php?id={{ entity.id }}"><img src="{{ wwwroot }}/images/edit.png" /></a>
            <a href="{{ wwwroot }}/admin/delete.php?id={{ entity.id }}"><img src="{{ wwwroot }}/images/delete.png" /></a>
        </div>
        {% endif %}
        <p class="lightGrey text2">{{ entity.params.interval }}</p>
    </div>
    <div class="post-tiny">
        {{ entity.params.fulltext|raw }}
    </div>
    <div class="w3-row"></div>

    {% include 'images.html' with {'images': entity.files.photos } %}

    <div class="to-back"><a href="{{ returnurl }}">Назад</a></div>
</div>
{% endblock %}
