{% extends "layout.html" %}

{% block title %}Геологический музей{% endblock %}

{% block content %}
<div id="main" class="geologic museum-image" data-location="geologic">
    <div>
        <h1 class="caption w3-xxlarge">Геологический музей</h1>
        {% if admin %}
        <div class="h1-to-form">
            <a href="{{ wwwroot }}/admin/edit.php?id={{ entity.id }}"><img src="{{ wwwroot }}/images/edit.png"/></a>
        </div>
        {% endif %}
    </div>
    <div class="post-tiny">
        {{ entity.params.fulltext|raw }}
    </div>
    <div class="w3-row"></div>

    {% include 'images.html' with {'images': entity.files.photos } %}

    <div class="to-begin"><a href="{{ wwwroot }}/museum.php#geologic-anchor">В начало</a></div>
</div>
{% endblock %}
