{% extends "layout.html" %}

{% block content %}
<div id="main" class="history" data-location="history">
    <h1 class="caption w3-container">ИСТОРИЯ<span class="lightGrey-2"> / HISTORY</span></h1>
    <p class="about w3-container">
        {{ about }}
    </p>
    <div class="allpubs w3-container"><a href="{{ wwwroot }}/entity.php?context=about-history#main">ПОДРОБНЕЕ</a></div>

    <h2 class="sub-caption bold w3-container"><span>Хронология создания и развития университета</span></h2>
    <div class="w3-row w3-container">
        <div class="w3-col s3 w3-center histoChronics"><a><p class="bold w3-large w3-margin-0">1930-1933</p></a></div>
        <div class="w3-col s9 w3-justify text2 fowhite"><p class="w3-margin-0">Сибирский государственный институт чёрных металлов. Первоначально состоял из металлургического и технологического факультетов.</p></div>
    </div>
    <div class="w3-row w3-container">
        <div class="w3-col s3 w3-center histoChronics"><a><p class="bold w3-large  w3-margin-0">1933-1994</p></a></div>
        <div class="w3-col s9 w3-justify text2 fowhite"><p class="w3-margin-0">Сибирский государственный металлургический институт имени Серго Орджоникидзе. Во время Великой Отечественной войны институт располагался в доме культуры для детей.  Появились горный (1949), строительный (1960) факультеты. Проводится строительство кампуса — главного (1965) и металлургического (1985) корпусов. Появились Электрометаллургический (1965)...</p></div>
    </div>
    <div class="w3-row  w3-container">
        <div class="w3-col s3 w3-center histoChronics"><a><p class="bold w3-large  w3-margin-0">1994-1997</p></a></div>
        <div class="w3-col s9 w3-justify text2 fowhite"><p class="w3-margin-0">Сибирский государственный институт чёрных металлов. Первоначально состоял из металлургического и технологического факультетов.</p></div>
    </div>
    <div class="w3-row  w3-container">
        <div class="w3-col s3 w3-center histoChronics"><a><p class="bold w3-large  w3-margin-0">1998-н.в.&nbsp;</p></a></div>
        <div class="w3-col s9 w3-justify text2 fowhite"><p class=" w3-margin-0">Сибирский государственный институт чёрных металлов. Первоначально состоял из металлургического и технологического факультетов.</p></div>
    </div>
    <h2 class="sub-caption bold w3-container"><span>Список книг</span></h2>
    <div class="w3-row textrow1">
        <div class="w3-container w3-half">
            <div class="imgBox1"><img src="images/1-1.jpg"></div>
            <div class="notflow">
                <a href="book.html#main"><p class="bold w3-large">Сибирский государственный индустриальный университет 1930 - 2010</p></a>
                <p class="lightGrey text2"></p>
                <p>Книга посвящена 80-летию ГОУ ВПО «Сибирский государственный индустриальный университет». Она представляет собой научно-историческое...</p>
            </div>
        </div>
        <div class="w3-container w3-half">
            <div class="imgBox1"><img src="images/1-2.jpg"></div>
            <div class="notflow">
                <a href="book-2.html#main"><p class="bold w3-large">За кадры, 1987 год</p></a>
                <p class="lightGrey text2"></p>
                <p>Издание содержит информацию об истории создания и развития Си­бирского государственного индустриального университета, материалы по достижениям...</p>
            </div>
        </div>
    </div>
    <div class="w3-row textrow1">
        <div class="w3-container w3-half">
            <div class="imgBox1"><img src="images/1-3.jpg"></div>
            <div class="notflow">
                <a href="book.html#main"><p class="bold w3-large">Выдающиеся металлурги – выпускники СМИ – СибГИУ</p></a>
                <p class="lightGrey text2"></p>
                <p>В книге представлены в алфавитном порядке биографические сведения о 85-ти выдающихся металлургах – выпускниках Сибирского государственного...</p>
            </div>
        </div>
        <div class="w3-container w3-half">
            <div class="imgBox1"><img src="images/1-4.jpg"></div>
            <div class="notflow">
                <a href="book.html#main"><p class="bold w3-large">Сибирский государственный индустриальный университет 1930 - 2010</p></a>
                <p class="lightGrey text2"></p>
                <p>Книга посвящена 80-летию ГОУ ВПО «Сибирский государственный индустриальный университет». Она представляет собой научно-историческое...</p>
            </div>
        </div>
    </div>
    <div class="allpubs w3-container"><a href="books.html#main">ВСЕ ПУБЛИКАЦИИ</a></div>
    <h2 class="sub-caption bold"><span>Университетские газеты</span></h2>
    <div class="w3-row textrow1">
        <div class="w3-container w3-third">
            <div class="imgBox1"><!-- <img src="images/1-1.jpg"> --></div>
            <div class="notflow">
                <a href="book.html#main"><p class="bold w3-large">Название газеты 1</p></a>
                <p class="lightGrey text2"></p>
                <p>Книга посвящена 80-летию ГОУ ВПО «Сибирский государственный индустриальный университет». Она представляет собой научно-историческое...</p>
            </div>
        </div>
        <div class="w3-third w3-container">
            <div class="imgBox1"><!-- <img src="images/1-2.jpg"> --></div>
            <div class="notflow">
                <a href="book-2.html#main"><p class="bold w3-large">Название газеты 2</p></a>
                <p class="lightGrey text2"></p>
                <p>Издание содержит информацию об истории создания и развития Си­бирского государственного индустриального университета, материалы по достижениям...</p>
            </div>
        </div>
        <div class="w3-third w3-container">
            <div class="imgBox1"><!-- <img src="images/1-3.jpg"> --></div>
            <div class="notflow">
                <a href="book.html#main"><p class="bold w3-large">Название газеты 3</p></a>
                <p class="lightGrey text2"></p>
                <p>В книге представлены в алфавитном порядке биографические сведения о 85-ти выдающихся металлургах – выпускниках Сибирского государственного...</p>
            </div>
        </div>
    </div>
    <div class="allpubs w3-container"><a href="books.html#main">ВСЕ ГАЗЕТЫ</a></div>
    <h2 class="sub-caption bold w3-container"><span>Руководители</span></h2>
    <div class="w3-row histoHea">
        <div class="w3-quarter w3-container quarttohalf w3-center">
            <div class="histoHeads">
                <div class="imgBox1"><img src="images/3-1.png"></div>
                <a><p class="bold w3-large">Болтенко Петр Семенович</p></a>
                <p></p>
            </div>
        </div>
        <div class="w3-quarter w3-container quarttohalf w3-center">
            <div class="histoHeads">
                <div class="imgBox1"><img src="images/3-2.png"></div>
                <a><p class="bold w3-large">Дехтярь <br> Арон Яковлевич</p></a>
                <p></p>
            </div>
        </div>
        <div class="w3-quarter w3-container quarttohalf w3-center">
            <div class="histoHeads">
                <div class="imgBox1"><img src="images/3-3.png"></div>
                <a><p class="bold w3-large">Горшенин Дмитрий Гаврилович</p></a>
                <p></p>
            </div>
        </div>
        <div class="w3-quarter w3-container quarttohalf w3-center">
            <div class="histoHeads">
                <div class="imgBox1"><img src="images/3-4.png"></div>
                <a><p class="bold w3-large">Вяткин <br> Ефим Кириллович</p></a>
                <p></p>
            </div>
        </div>
    </div>
    <div class="allpubs w3-container"><a>ВСЕ РУКОВОДИТЕЛИ</a></div>

    <h2 class="sub-caption bold w3-container"><span>Воспоминания</span></h2>
    <div class="w3-row textrow1">
        <div class="w3-container w3-half histoMemory">
            <div class="notflow">
                <a><p class="bold w3-large">Интервью с Анохиной Надеждой Константиновной</p></a>
                <p class="lightGrey text2">17.12.2016</p>
                <p>Тарбокова Наташа и Володя Львиц они сейчас живут в Германии. Вот, а вторая пара Шабалина Света и Анатолий Жирнов. Анатолий защитил и они уехали в Тюмень, если я не путаю. Он защитил докторскую диссертацию, но к сожалению, уже лет 8 его нет с нами. А окончила Сибирский Металлургический институт в 1974 году. Окончила с отличием. Диплом защищала на английском</p>
            </div>
        </div>
        <div class="w3-container w3-half histoMemory">
            <div class="notflow">
                <a><p class="bold w3-large">Интервью с Анохиной Надеждой Константиновной</p></a>
                <p class="lightGrey text2">17.12.2016</p>
                <p>Тарбокова Наташа и Володя Львиц они сейчас живут в Германии. Вот, а вторая пара Шабалина Света и Анатолий Жирнов. Анатолий защитил и они уехали в Тюмень, если я не путаю. Он защитил докторскую диссертацию, но к сожалению, уже лет 8 его нет с нами. А окончила Сибирский Металлургический институт в 1974 году. Окончила с отличием. Диплом защищала на английском</p>
            </div>
        </div>
    </div>
    <div class="w3-row textrow1">
        <div class="w3-container w3-half histoMemory">
            <div class="notflow">
                <a><p class="bold w3-large">Интервью с Анохиной Надеждой Константиновной</p></a>
                <p class="lightGrey text2">17.12.2016</p>
                <p>Тарбокова Наташа и Володя Львиц они сейчас живут в Германии. Вот, а вторая пара Шабалина Света и Анатолий Жирнов. Анатолий защитил и они уехали в Тюмень, если я не путаю. Он защитил докторскую диссертацию, но к сожалению, уже лет 8 его нет с нами. А окончила Сибирский Металлургический институт в 1974 году. Окончила с отличием. Диплом защищала на английском</p>
            </div>
        </div>
        <div class="w3-container w3-half histoMemory">
            <div class="notflow">
                <a><p class="bold w3-large">Интервью с Анохиной Надеждой Константиновной</p></a>
                <p class="lightGrey text2">17.12.2016</p>
                <p>Тарбокова Наташа и Володя Львиц они сейчас живут в Германии. Вот, а вторая пара Шабалина Света и Анатолий Жирнов. Анатолий защитил и они уехали в Тюмень, если я не путаю. Он защитил докторскую диссертацию, но к сожалению, уже лет 8 его нет с нами. А окончила Сибирский Металлургический институт в 1974 году. Окончила с отличием. Диплом защищала на английском</p>
            </div>
        </div>
    </div>
    <div class="allpubs w3-container"><a>ВСЕ ВОСПОМИНАНИЯ</a></div>
    <h2 class="sub-caption bold w3-container"><span>История институтов</span></h2>
    <div class="w3-container w3-half histoInsts">
        <a><p class="bold w3-large">- Институт металлургии и материаловедения</p></a>
        <a><p class="bold w3-large">- Институт экономики и менеджмента</p></a>
        <a><p class="bold w3-large">- Архитектурно-строительный институт</p></a>
        <a><p class="bold w3-large">- Институт горного дела и геосистем</p></a>
        <a><p class="bold w3-large">- Институт машиностроения и транспорта</p></a>
        <a><p class="bold w3-large">- Институт информ. технологий и автомат. систем</p></a>
    </div>
    <div class="w3-container w3-half histoInsts">
        <a><p class="bold w3-large">- Институт фундаментального образования</p></a>
        <a><p class="bold w3-large">- Институт физической культуры, здоровья и спорта</p></a>
        <a><p class="bold w3-large">- Институт открытого образования</p></a>
        <a><p class="bold w3-large">- Институт планирования карьеры</p></a>
        <a><p class="bold w3-large">- Прокопьевский филиал СибГИУ </p></a>
        <a><p class="bold w3-large">- Институт дополнительного профессионального образования</p></a>
    </div>
    <div class="allpubs w3-container"></div>
    <h2 class="sub-caption bold w3-container"><span>История успеха</span></h2>
    <div class="histoAge w3-large fowhite w3-container">
        <ul>
            <li>2005</li>
            <li>2004</li>
            <li>2003</li>
            <li>2002</li>
            <li>2001</li>
            <li>2000</li>
            <li>1999</li>
            <li>1998</li>
            <li>1997</li>
            <li><span style="font-family:'OpenSans-bold'; color:#007bc6; ">1996</span></li>
            <li>1995</li>
            <li>1994</li>
            <li>1993</li>
            <li>1992</li>
            <li>1991</li>
            <li>1990</li>
        </ul>
    </div>
    <div class="w3-row textrow1 w3-container histoSuc">
        <div class="imgBox3"></div>
        <div class="notflow">
            <a><p class="bold w3-large w3-padding-top">АЙЗАТУЛОВ РАФИК САБИРОВИЧ</p></a>
            <p class="lightGrey  w3-large">Профессор, доктор</p>
            <p class="lightGrey text2">1996 год</p>
            <p>В учебнике излагаются элементы теории множеств и вещественных чисел, числовые последовательности и теории пределов, аналитическая геометрия на плоскости и в пространстве, основы дифференциального и интегрального исчислений функций одной или нескольких переменных, элементы высшей алгебры, теория рядов и обыкновенные дифференциальные уравнения.</p>
        </div>
    </div>
    <div class="w3-row textrow1 w3-container histoSuc">
        <div class="imgBox3"></div>
        <div class="notflow">
            <a><p class="bold w3-large w3-padding-top">АЙЗАТУЛОВ РАФИК САБИРОВИЧ</p></a>
            <p class="lightGrey  w3-large">Профессор, доктор</p>
            <p class="lightGrey text2">1996 год</p>
            <p>В учебнике излагаются элементы теории множеств и вещественных чисел, числовые последовательности и теории пределов, аналитическая геометрия на плоскости и в пространстве, основы дифференциального и интегрального исчислений функций одной или нескольких переменных, элементы высшей алгебры, теория рядов и обыкновенные дифференциальные уравнения.</p>
        </div>
    </div>
    <div class="w3-row textrow1 w3-container histoSuc">
        <div class="imgBox3"></div>
        <div class="notflow">
            <a><p class="bold w3-large w3-padding-top">АЙЗАТУЛОВ РАФИК САБИРОВИЧ</p></a>
            <p class="lightGrey  w3-large">Профессор, доктор</p>
            <p class="lightGrey text2">1996 год</p>
            <p>В учебнике излагаются элементы теории множеств и вещественных чисел, числовые последовательности и теории пределов, аналитическая геометрия на плоскости и в пространстве, основы дифференциального и интегрального исчислений функций одной или нескольких переменных, элементы высшей алгебры, теория рядов и обыкновенные дифференциальные уравнения.</p>
        </div>
    </div>
    <div class="w3-row textrow1 w3-container histoSuc">
        <div class="imgBox3"></div>
        <div class="notflow">
            <a><p class="bold w3-large w3-padding-top">АЙЗАТУЛОВ РАФИК САБИРОВИЧ</p></a>
            <p class="lightGrey  w3-large">Профессор, доктор</p>
            <p class="lightGrey text2">1996 год</p>
            <p>В учебнике излагаются элементы теории множеств и вещественных чисел, числовые последовательности и теории пределов, аналитическая геометрия на плоскости и в пространстве, основы дифференциального и интегрального исчислений функций одной или нескольких переменных, элементы высшей алгебры, теория рядов и обыкновенные дифференциальные уравнения.</p>
        </div>
    </div>
    <div class="KONEC allpubs w3-container"><a onclick="asd()">ВСЕ ВЫПУСКНИКИ</a></div>

</div>
{% endblock %}
