{% extends "layout.html" %}

{% block content %}
<div id="main" class="history history-image" data-location="history">
    <h1 class="caption">ИСТОРИЯ<span class="lightGrey-2"> / HISTORY</span></h1>
    <p class="about">
        {{ about }}
    </p>
    <div class="allpubs"><a href="{{ wwwroot }}/entity.php?context=about-history#main">ПОДРОБНЕЕ</a></div>

    <h2 class="sub-caption bold"><span>Хронология создания и развития университета</span></h2>
    {% for period in periods %}
    <div class="w3-row">
        <div class="w3-col s3 w3-center histoChronics"><a href="{{ wwwroot }}/entity.php?id={{ period.id }}&returnurl={{ returnurl|url_encode }}#main">
            <p class="bold w3-large w3-margin-0">{{ period.params.interval }}</p>
        </a></div>
        <div class="w3-col s9 w3-justify text2 fowhite"><p class="w3-margin-0">{{ period.content }}</p></div>
    </div>
    {% endfor %}
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=periods#main">ВСЯ ХРОНОЛОГИЯ</a></div>

    <h2 class="sub-caption bold"><span>Список книг</span></h2>
    <div class="w3-row textrow1">
        {% for book in books|slice(0, 2) %}
        <div class="w3-half">
            <div class="imgBox1">
                {% if book.files.image %}
                <img src="{{ wwwroot }}/file.php?id={{ book.files.image.id }}">
                {% endif %}
            </div>
            <div class="notflow">
                <a href="{{ wwwroot }}/entity.php?id={{ book.id }}&returnurl={{ returnurl|url_encode }}#main"><p class="bold w3-large">{{ book.params.name }}</p></a>
                <p class="lightGrey text2"></p>
                <p>{{ book.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="w3-row textrow1">
        {% for book in books|slice(2, 2) %}
        <div class="w3-half">
            <div class="imgBox1">
                {% if book.files.image %}
                <img src="{{ wwwroot }}/file.php?id={{ book.files.image.id }}">
                {% endif %}
            </div>
            <div class="notflow">
                <a href="{{ wwwroot }}/entity.php?id={{ book.id }}&returnurl={{ returnurl|url_encode }}#main"><p class="bold w3-large">{{ book.params.name }}</p></a>
                <p>{{ book.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=books#main">ВСЕ ПУБЛИКАЦИИ</a></div>

    <h2 class="sub-caption bold"><span>Университетские газеты</span></h2>
    <div class="w3-row textrow1">
        <div class="w3-third">
            <div class="imgBox1"><!-- <img src="images/1-1.jpg"> --></div>
            <div class="notflow">
                <a href="book.html#main"><p class="bold w3-large">Название газеты 1</p></a>
                <p class="lightGrey text2"></p>
                <p>Книга посвящена 80-летию ГОУ ВПО «Сибирский государственный индустриальный университет». Она представляет собой научно-историческое...</p>
            </div>
        </div>
        <div class="w3-third">
            <div class="imgBox1"><!-- <img src="images/1-2.jpg"> --></div>
            <div class="notflow">
                <a href="book-2.html#main"><p class="bold w3-large">Название газеты 2</p></a>
                <p class="lightGrey text2"></p>
                <p>Издание содержит информацию об истории создания и развития Си­бирского государственного индустриального университета, материалы по достижениям...</p>
            </div>
        </div>
        <div class="w3-third">
            <div class="imgBox1"><!-- <img src="images/1-3.jpg"> --></div>
            <div class="notflow">
                <a href="book.html#main"><p class="bold w3-large">Название газеты 3</p></a>
                <p class="lightGrey text2"></p>
                <p>В книге представлены в алфавитном порядке биографические сведения о 85-ти выдающихся металлургах – выпускниках Сибирского государственного...</p>
            </div>
        </div>
    </div>
    <div class="allpubs"><a href="books.html#main">ВСЕ ГАЗЕТЫ</a></div>

    <h2 class="sub-caption bold"><span>Руководители</span></h2>
    <div class="w3-row histoHea">
        <div class="w3-quarter quarttohalf w3-center">
            <div class="histoHeads">
                <div class="imgBox1"><img src="images/3-1.png"></div>
                <a><p class="bold w3-large">Болтенко Петр Семенович</p></a>
                <p></p>
            </div>
        </div>
        <div class="w3-quarter quarttohalf w3-center">
            <div class="histoHeads">
                <div class="imgBox1"><img src="images/3-2.png"></div>
                <a><p class="bold w3-large">Дехтярь <br> Арон Яковлевич</p></a>
                <p></p>
            </div>
        </div>
        <div class="w3-quarter quarttohalf w3-center">
            <div class="histoHeads">
                <div class="imgBox1"><img src="images/3-3.png"></div>
                <a><p class="bold w3-large">Горшенин Дмитрий Гаврилович</p></a>
                <p></p>
            </div>
        </div>
        <div class="w3-quarter quarttohalf w3-center">
            <div class="histoHeads">
                <div class="imgBox1"><img src="images/3-4.png"></div>
                <a><p class="bold w3-large">Вяткин <br> Ефим Кириллович</p></a>
                <p></p>
            </div>
        </div>
    </div>
    <div class="allpubs"><a>ВСЕ РУКОВОДИТЕЛИ</a></div>

    <h2 class="sub-caption bold"><span>Воспоминания</span></h2>
    <div class="w3-row textrow1">
        <div class="w3-half histoMemory">
            <div class="notflow">
                <a><p class="bold w3-large">Интервью с Анохиной Надеждой Константиновной</p></a>
                <p class="lightGrey text2">17.12.2016</p>
                <p>Тарбокова Наташа и Володя Львиц они сейчас живут в Германии. Вот, а вторая пара Шабалина Света и Анатолий Жирнов. Анатолий защитил и они уехали в Тюмень, если я не путаю. Он защитил докторскую диссертацию, но к сожалению, уже лет 8 его нет с нами. А окончила Сибирский Металлургический институт в 1974 году. Окончила с отличием. Диплом защищала на английском</p>
            </div>
        </div>
        <div class=" w3-half histoMemory">
            <div class="notflow">
                <a><p class="bold w3-large">Интервью с Анохиной Надеждой Константиновной</p></a>
                <p class="lightGrey text2">17.12.2016</p>
                <p>Тарбокова Наташа и Володя Львиц они сейчас живут в Германии. Вот, а вторая пара Шабалина Света и Анатолий Жирнов. Анатолий защитил и они уехали в Тюмень, если я не путаю. Он защитил докторскую диссертацию, но к сожалению, уже лет 8 его нет с нами. А окончила Сибирский Металлургический институт в 1974 году. Окончила с отличием. Диплом защищала на английском</p>
            </div>
        </div>
    </div>
    <div class="w3-row textrow1">
        <div class="w3-half histoMemory">
            <div class="notflow">
                <a><p class="bold w3-large">Интервью с Анохиной Надеждой Константиновной</p></a>
                <p class="lightGrey text2">17.12.2016</p>
                <p>Тарбокова Наташа и Володя Львиц они сейчас живут в Германии. Вот, а вторая пара Шабалина Света и Анатолий Жирнов. Анатолий защитил и они уехали в Тюмень, если я не путаю. Он защитил докторскую диссертацию, но к сожалению, уже лет 8 его нет с нами. А окончила Сибирский Металлургический институт в 1974 году. Окончила с отличием. Диплом защищала на английском</p>
            </div>
        </div>
        <div class="w3-half histoMemory">
            <div class="notflow">
                <a><p class="bold w3-large">Интервью с Анохиной Надеждой Константиновной</p></a>
                <p class="lightGrey text2">17.12.2016</p>
                <p>Тарбокова Наташа и Володя Львиц они сейчас живут в Германии. Вот, а вторая пара Шабалина Света и Анатолий Жирнов. Анатолий защитил и они уехали в Тюмень, если я не путаю. Он защитил докторскую диссертацию, но к сожалению, уже лет 8 его нет с нами. А окончила Сибирский Металлургический институт в 1974 году. Окончила с отличием. Диплом защищала на английском</p>
            </div>
        </div>
    </div>
    <div class="allpubs"><a>ВСЕ ВОСПОМИНАНИЯ</a></div>

    <h2 class="sub-caption bold"><span>История институтов</span></h2>
    <div class="w3-row w3-large bold">
        <div class="w3-half histoInsts ">
            <!--
            {% for success in successes|slice(0, 6) %}
                <a>
                    <p>

                    </p>
                </a>
            {% endfor %}
            -->
            <a><p>- Институт металлургии и материаловедения</p></a>
            <a><p>- Институт экономики и менеджмента</p></a>
            <a><p>- Архитектурно-строительный институт</p></a>
            <a><p>- Институт горного дела и геосистем</p></a>
            <a><p>- Институт машиностроения и транспорта</p></a>
            <a><p>- Институт информ. технологий и автомат. систем</p></a>
        </div>
        <div class="w3-half histoInsts w3-large bold">
            <a><p>- Институт фундаментального образования</p></a>
            <a><p>- Институт физической культуры, здоровья и спорта</p></a>
            <a><p>- Институт открытого образования</p></a>
            <a><p>- Институт планирования карьеры</p></a>
            <a><p>- Институт дополнительного профессионального образования</p></a>
        </div>
    </div>
    <div class="allpubs" style="color: red;"><a href="{{ wwwroot }}/entities.php?context=history-of-institute#main"> Подробнее для редактирования</a></div>

    <h2 class="sub-caption bold"><span>История успеха</span></h2>
    <div class="histoAge w3-large fowhite">
        <ul>
            <li>2005</li>
            <li>2004</li>
            <li>2003</li>
            <li>2002</li>
            <li>2001</li>
            <li>2000</li>
            <li>1999</li>
            <li>1998</li>
            <li>1997</li>
            <li><span style="font-family:'OpenSans-bold'; color:#007bc6; ">1996</span></li>
            <li>1995</li>
            <li>1994</li>
            <li>1993</li>
            <li>1992</li>
            <li>1991</li>
            <li>1990</li>
        </ul>
    </div>
    <div class="w3-row textrow1 histoSuc">
        <div class="imgBox3"></div>
        <div class="notflow">
            <a><p class="bold w3-large w3-padding-top">АЙЗАТУЛОВ РАФИК САБИРОВИЧ</p></a>
            <p class="lightGrey  w3-large">Профессор, доктор</p>
            <p class="lightGrey text2">1996 год</p>
            <p>В учебнике излагаются элементы теории множеств и вещественных чисел, числовые последовательности и теории пределов, аналитическая геометрия на плоскости и в пространстве, основы дифференциального и интегрального исчислений функций одной или нескольких переменных, элементы высшей алгебры, теория рядов и обыкновенные дифференциальные уравнения.</p>
        </div>
    </div>
    <div class="w3-row textrow1 histoSuc">
        <div class="imgBox3"></div>
        <div class="notflow">
            <a><p class="bold w3-large w3-padding-top">АЙЗАТУЛОВ РАФИК САБИРОВИЧ</p></a>
            <p class="lightGrey  w3-large">Профессор, доктор</p>
            <p class="lightGrey text2">1996 год</p>
            <p>В учебнике излагаются элементы теории множеств и вещественных чисел, числовые последовательности и теории пределов, аналитическая геометрия на плоскости и в пространстве, основы дифференциального и интегрального исчислений функций одной или нескольких переменных, элементы высшей алгебры, теория рядов и обыкновенные дифференциальные уравнения.</p>
        </div>
    </div>
    <div class="w3-row textrow1 histoSuc">
        <div class="imgBox3"></div>
        <div class="notflow">
            <a><p class="bold w3-large w3-padding-top">АЙЗАТУЛОВ РАФИК САБИРОВИЧ</p></a>
            <p class="lightGrey  w3-large">Профессор, доктор</p>
            <p class="lightGrey text2">1996 год</p>
            <p>В учебнике излагаются элементы теории множеств и вещественных чисел, числовые последовательности и теории пределов, аналитическая геометрия на плоскости и в пространстве, основы дифференциального и интегрального исчислений функций одной или нескольких переменных, элементы высшей алгебры, теория рядов и обыкновенные дифференциальные уравнения.</p>
        </div>
    </div>
    <div class="w3-row textrow1 histoSuc">
        <div class="imgBox3"></div>
        <div class="notflow">
            <a><p class="bold w3-large w3-padding-top">АЙЗАТУЛОВ РАФИК САБИРОВИЧ</p></a>
            <p class="lightGrey  w3-large">Профессор, доктор</p>
            <p class="lightGrey text2">1996 год</p>
            <p>В учебнике излагаются элементы теории множеств и вещественных чисел, числовые последовательности и теории пределов, аналитическая геометрия на плоскости и в пространстве, основы дифференциального и интегрального исчислений функций одной или нескольких переменных, элементы высшей алгебры, теория рядов и обыкновенные дифференциальные уравнения.</p>
        </div>
    </div>
    <div class="KONEC allpubs"><a onclick="asd()">ВСЕ ВЫПУСКНИКИ</a></div>

</div>
{% endblock %}
