{% extends "layout.html" %}

{% block content %}
<div id="main" class="history history-image" data-location="history">
    <h1 class="caption">ИСТОРИЯ<span class="lightGrey-2"> / HISTORY</span></h1>
    <p class="about">
        {{ about }}
    </p>00vvv
    <div class="allpubs"><a href="{{ wwwroot }}/entity.php?context=about-history#main">ПОДРОБНЕЕ</a></div>

    <h2 class="bold">Хронология создания и развития университета</h2>
    {% for period in periods %}
    <div class="w3-row">
        <div class="w3-col s3 w3-center history-chronics"><a href="{{ wwwroot }}/entity.php?id={{ period.id }}&returnurl={{ returnurl|url_encode }}#main">
            <p class="bold w3-large w3-margin-0">{{ period.params.interval }}</p>
        </a></div>
        <div class="w3-col s9 w3-justify text2"><p class="w3-margin-0">{{ period.content }}</p></div>
    </div>
    {% endfor %}
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=periods#main">ВСЯ ХРОНОЛОГИЯ</a></div>

    <h2 class="bold">Список книг</h2>
    <div class="w3-row">
        {% for book in books|slice(0, 2) %}
        <div class="w3-half">
            <div class="imgBox1 image-proportional-resizing">
                {% if book.files.image %}
                <img src="{{ wwwroot }}/file.php?id={{ book.files.image.id }}">
                {% else %}
                <div class="placeholder-book"></div>
                {% endif %}
            </div>
            <div class="notflow">
                <a href="{{ wwwroot }}/entity.php?id={{ book.id }}&returnurl={{ returnurl|url_encode }}#main">
                    <p class="bold w3-large">{{ book.params.name }}</p>
                </a>
                <p class="lightGrey text2"></p>
                <p>{{ book.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="w3-row">
        {% for book in books|slice(2, 2) %}
        <div class="w3-half">
            <div class="imgBox1 image-proportional-resizing">
                {% if book.files.image %}
                <img src="{{ wwwroot }}/file.php?id={{ book.files.image.id }}">
                {% else %}
                <div class="placeholder-book"></div>
                {% endif %}
            </div>
            <div class="notflow">
                <a href="{{ wwwroot }}/entity.php?id={{ book.id }}&returnurl={{ returnurl|url_encode }}#main">
                    <p class="bold w3-large">{{ book.params.name }}</p>
                </a>
                <p class="lightGrey text2"></p>
                <p>{{ book.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=books#main">ВСЕ ПУБЛИКАЦИИ</a></div>

    <h2 class="bold">Университетские газеты</h2>
    <div class="w3-row">
        <div class="w3-half">
            <div class="imgBox1 image-proportional-resizing"><!-- <img src="images/1-1.jpg"> --></div>
            <div class="notflow">
                <a href="book.html#main"><p class="bold w3-large">Название газеты 1</p></a>
                <p class="lightGrey text2"></p>
                <p>Книга посвящена 80-летию ГОУ ВПО «Сибирский государственный индустриальный университет». Она представляет собой научно-историческое...</p>
            </div>
        </div>
        <div class="w3-half">
            <div class="imgBox1 image-proportional-resizing"><!-- <img src="images/1-2.jpg"> --></div>
            <div class="notflow">
                <a href="book-2.html#main"><p class="bold w3-large">Название газеты 2</p></a>
                <p class="lightGrey text2"></p>
                <p>Издание содержит информацию об истории создания и развития Си­бирского государственного индустриального университета, материалы по достижениям...</p>
            </div>
        </div>
    </div>
    <div class="allpubs"><a href="books.html#main">ВСЕ ГАЗЕТЫ</a></div>

    <h2 class="bold">Руководители</h2>
    <div class="w3-row leaders">
        {% for leader in leaders %}
        <div class="w3-quarter quarttohalf w3-center">
            <div class="history-leader">
                <div class="imgBox1 image-proportional-resizing">
                    {% if leader.files.image %}
                    <img src="{{ wwwroot }}/file.php?id={{ leader.files.image.id }}">
                    {% else %}
                    <div class="placeholder-person"></div>
                    {% endif %}
                </div>
                <a  href="{{ wwwroot }}/entity.php?id={{ leader.id }}&returnurl={{ returnurl|url_encode }}#main">
                    <p class="bold w3-large">{{ leader.params.name }}</p>
                </a>
                <p></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=leaders#main">ВСЕ РУКОВОДИТЕЛИ</a></div>

    <h2 class="bold">Воспоминания</h2>
    <div class="w3-row">
        {% for memory in memories|slice(0, 2) %}
        <div class="w3-half">
            <div class="imgBox1 image-proportional-resizing">
                {% if memory.files.image %}
                <img src="{{ wwwroot }}/file.php?id={{ memory.files.image.id }}">
                {% else %}
                <div class="placeholder-person"></div>
                {% endif %}
            </div>
            <div class="notflow">
                <a href="{{ wwwroot }}/entity.php?id={{ memory.id }}&returnurl={{ returnurl|url_encode }}#main">
                    <p class="bold w3-large">{{ memory.params.name }}</p>
                </a>
                <p class="lightGrey text2"></p>
                <p>{{ memory.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="w3-row">
        {% for memory in memories|slice(2, 2) %}
        <div class="w3-half">
            <div class="imgBox1">
                {% if memory.files.image %}
                <img src="{{ wwwroot }}/file.php?id={{ memory.files.image.id }}">
                {% else %}
                <div class="placeholder-person"></div>
                {% endif %}
            </div>
            <div class="notflow">
                <a href="{{ wwwroot }}/entity.php?id={{ memory.id }}&returnurl={{ returnurl|url_encode }}#main">
                    <p class="bold w3-large">{{ memory.params.name }}</p>
                </a>
                <p>{{ memory.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=memories#main">ВСЕ ВОСПОМИНАНИЯ</a></div>

    <h2 class="bold" id="history-of-our-university">История институтов</h2>
    <div class="w3-row w3-large bold">
        {% set separator = (history_of_institute|length / 2)|round(0, 'ceil') %}
        <div class="w3-half histoInsts ">
            {% for history in history_of_institute[:separator] %}
            <a href="{{ history.params.link }}">
                <p>-&nbsp;{{ history.content|raw }}</p>
            </a>
            {% endfor %}
        </div>
        <div class="w3-half histoInsts w3-large bold">
            {% for history in history_of_institute[separator:] %}
            <a href="{{ history.params.link }}">
                <p>-&nbsp;{{ history.content|raw }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    {% if admin %}
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=history-of-institute#main">РЕДАКТИРОВАНИЕ</a></div>
    {% endif %}

    <h2 class="bold">История успеха</h2>
    <div class="history-age w3-large">
        <ul>
            {% for year in history_of_success_years %}
            <li><span style="font-family:'OpenSans-bold'; color:#007bc6; ">
                <a href="{{ wwwroot }}/entities.php?context=history-of-success&year={{ year.year }}#main">{{ year.year }}</a>
            </span></li>
            {% endfor %}
        </ul>
    </div>
    {% for history in history_of_success %}
    <div class="w3-row history-success">
        <div class="imgBox1 image-proportional-resizing">
            {% if history.files.image %}
            <img src="{{ wwwroot }}/file.php?id={{ history.files.image.id }}">
            {% else %}
            <div class="placeholder-person"></div>
            {% endif %}
        </div>
        <div class="notflow">
            <a href="{{ wwwroot }}/entity.php?id={{ history.id }}&returnurl={{ returnurl|url_encode }}#main">
                <p class="bold w3-large w3-padding-top">{{ history.params.name }}</p>
            </a>
            <!--<p class="lightGrey w3-large">Профессор, доктор</p>-->
            <p class="lightGrey text2">Год выпуска: {{ history.params.year }}</p>
            <p>{{ history.content }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=history-of-success#main">ВСЕ ВЫПУСКНИКИ</a></div>

</div>
{% endblock %}
