<div class="w3-row"></div>
<div id="images">
    <div style="display: inline-block">
        {% for image in images %}
        <div class="entity-image-container image-proportional-resizing">
            {% if admin %}
            <form class="entity-image-delete" method="post" action="{{ wwwroot }}/admin/delfile.php">
                <input type="hidden" name="id" value="{{ image.id }}">
                <label>
                    <input type="submit" name="file">
                </label>
            </form>
            {% endif %}
            <a href="{{ wwwroot }}/file.php?id={{ image.id }}" data-fancybox="group" data-type="image">
                <div class="imgBox2">
                    <img src="{{ wwwroot }}/file.php?id={{ image.id }}">
                </div>
            </a>
        </div>
        {% endfor %}
        {% if admin %}
        <div class="entity-image-add">
            <form method="post" enctype="multipart/form-data" action="{{ wwwroot }}/admin/addfile.php">
                <input type="hidden" name="id" value="{{ entity.id }}">
                <input type="hidden" name="filearea" value="photos">
                <label>
                    <input type="file" name="file" onchange="this.form.submit()">
                </label>
            </form>
        </div>
        {% endif %}
    </div>
</div>
