<!DOCTYPE HTML>
<html>
    <head>
        <title>
            {% block title %}
                {{ title }}
            {% endblock %}
        </title>
        <script src="{{ wwwroot }}/tinymce/js/tinymce/tinymce.min.js"></script>
        <link rel="stylesheet" href="{{ wwwroot }}/css/bootstrap.css">
        <link rel="stylesheet" href="{{ wwwroot }}/css/museum.css">
    </head>
    <body>
        <div class="museum-header">
            <div class="container">
                <div class="nav">
                    <a class="nav-link active" href="{{ wwwroot }}/index.php">Страницы контента</a>
                    <a class="nav-link active" href="{{ wwwroot }}/auth.php">Авторизация</a>
                </div>
            </div>
        </div>
        <div class="museum-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                {% set breadcrumb_index = 0 %}
                                {% for bread in breadcrumb %}
                                    {% if breadcrumb_index < breadcrumb|length %}
                                        <li class="breadcrumb-item active">
                                            <a href="{{ bread.link }}">{{ bread.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="breadcrumb-item">
                                            {{ bread.title }}
                                        </li>
                                    {% endif %}

                                    {% set breadcrumb_index = breadcrumb_index + 1 %}
                                {% endfor %}
                                <li class="breadcrumb-item"><a href="#">Пример</a></li>
                                <li class="breadcrumb-item"><a href="#">Пример</a></li>
                                <li class="breadcrumb-item active">Пример</li>
                            </ol>
                        {% endblock %}
                        -->
                        {% block content %}
                            Center content
                        {% endblock %}
                    </div>
                </div>
            </div>
            <script type="application/javascript">
                tinymce.init({ selector: 'textarea', plugins: 'link image',
                    file_browser_callback: RoxyFileBrowser });
                function RoxyFileBrowser(field_name, url, type, win) {
                    var roxyFileman = '{{ wwwroot }}/fileman/index.html';
                    if (roxyFileman.indexOf("?") < 0) {
                        roxyFileman += "?type=" + type;
                    }
                    else {
                        roxyFileman += "&type=" + type;
                    }
                    roxyFileman += '&input=' + field_name + '&value=' + win.document.getElementById(field_name).value;
                    if(tinymce.activeEditor.settings.language){
                        roxyFileman += '&langCode=' + tinymce.activeEditor.settings.language;
                    }
                    tinymce.activeEditor.windowManager.open({
                        file: roxyFileman,
                        title: 'Roxy Fileman',
                        width: 850,
                        height: 650,
                        resizable: "yes",
                        plugins: "media",
                        inline: "yes",
                        close_previous: "no"
                    }, { window: win, input: field_name });
                    return false;
                }
            </script>
        </div>
        <footer class="museum-footer">
            <div class="container">
                {% block footer %}
                    <span class="text-muted">
                        &copy; Copyright 2017
                    </span>
                {% endblock %}
            </div>
        </footer>
    </body>
</html>
