<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ wwwroot }}/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="{{ wwwroot }}/js/jquery-3.1.1.min.js"></script>
    <script src="{{ wwwroot }}/js/jquery.easing.1.3.js"></script>
    <script src="{{ wwwroot }}/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="{{ wwwroot }}/js/jquery.scrollSpeed.js"></script>
    <script src="{{ wwwroot }}/js/main.js"></script>
    <script src="{{ wwwroot }}/js/jquery.fancybox.min.js"></script>
    <script src="{{ wwwroot }}/js/timeline.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js'></script>
    {% block styles %}
    <link rel="stylesheet" href="{{ wwwroot }}/css/reset.min.css">
    <link rel="stylesheet" href="{{ wwwroot }}/css/w3.css">
    <link rel="stylesheet" href="{{ wwwroot }}/css/style.css">
    <link rel="stylesheet" href="{{ wwwroot }}/css/jquery.fancybox.css">
    <link rel="stylesheet" href="{{ wwwroot }}/css/timeline.css">
    {% endblock %}
</head>
<body>
    {% block header %}
    <header></header>
    <nav class="mynav w3-sidenav">
        <div class="menu-left-border"></div>
        <div class="sibsiu">СибГИУ</div>
        <a href="javascript:void(0)"
           onclick="w3_close();"
           class="close w3-closenav w3-large hide-large2">Закрыть &times;</a>
        <ul>
            <li id='museum'><a href="{{ wwwroot }}/museum.php">Музей</a></li>
            <ul id='museumnav' class="musnav" style="display:none;">
                <li id='museumabout'><a href="{{ wwwroot }}/entity.php?context=about"><span>▸</span>О музее</a></li>
                <li id='news'><a href="{{ wwwroot }}/entities.php?context=news"><span>▸</span>Новости музея</a></li>
                <li id='exposition'><a href="{{ wwwroot }}/entities.php?context=exposition"><span>▸</span>Экспозиция</a></li>
                <li id='exhibitions'><a href="{{ wwwroot }}/entities.php?context=exhibitions"><span>▸</span>Тематические <span class="second-line-margin">выставки</span></a></li>
                <li id='calendar'><a href="{{ wwwroot }}/entities.php?context=calendar"><span>▸</span>Календарь <span class="second-line-margin">знаменательных дат</span></a></li>
                <li id='presents'><a href="{{ wwwroot }}/entities.php?context=presents"><span>▸</span>День дарителя</a></li>
                <li id='geologic'><a href="{{ wwwroot }}/entity.php?context=geologic"><span>▸</span>Геологический музей</a></li>
            </ul>
            <li id='history'><a href="{{ wwwroot }}/history.php">История</a></li>
            <ul id='historynav' class="musnav" style="display:none;">
                <li id='history-about'><a href="{{ wwwroot }}/entity.php?context=about-history"><span>▸</span>Становление</a></li>
                <li id='periods'><a href="{{ wwwroot }}/entities.php?context=periods"><span>▸</span>Хронология</a></li>
                <li id='books'><a href="{{ wwwroot }}/entities.php?context=books"><span>▸</span>Книги</a></li>
                <li id='papers'><a href="{{ wwwroot }}/history.php#papers-anchor"><span>▸</span>Газеты</a></li>
                <li id='leaders'><a href="{{ wwwroot }}/entities.php?context=leaders"><span>▸</span>Руководители</a></li>
                <li id='memories'><a href="{{ wwwroot }}/entities.php?context=memories"><span>▸</span>Воспоминания</a></li>
                <li id='history-of-institute'><a href="{{ wwwroot }}/history.php#history-of-our-university"><span>▸</span>История институтов</a></li>
                <li id='history-of-success'><a href="{{ wwwroot }}/entities.php?context=history-of-success"><span>▸</span>История успеха</a></li>
            </ul>
            <li id="projects"><a href="{{ wwwroot }}/entities.php?context=projects">Проекты</a></li>
            <li id="student-groups"><a href="{{ wwwroot }}/entities.php?context=student-groups">Студотряды</a></li>
        </ul>
    </nav>
    {% endblock %}

    <main class="w3-container">
        <span class="w3-opennav w3-xxlarge w3-container w3-light-grey w3-opacity-min hide-large" onclick="w3_open(); $(window).scroll();" id="openNav">
            <img style="width:36px; height: 36px;" src="{{ wwwroot }}/images/menu-three-horizontal-lines-symbol.svg">
        </span>
        {% if admin %}
        <form method="post" action="{{ wwwroot }}/auth.php">
            <div class="button-container-logout">
                <input type="hidden" name="returnurl" value="{{ current_url }}" />
                <button type="submit" name="logout">Выход</button>
            </div>
        </form>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
    <footer>
        <div>
            <div class="w3-row">
                <div class="w3-quarter w3-justify w3-container">
                    <a href="{{ wwwroot }}/museum.php"><p class="bold heads">Музей</p></a>
                    <a href="{{ wwwroot }}/entity.php?context=about"><p>О музее</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=news"><p>Новости музея</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=exposition"><p>Экспозиция</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=exhibitions"><p>Тематические выставки</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=calendar"><p>Календарь знаменательных дат</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=presents"><p>День дарителя</p></a>
                    <a href="{{ wwwroot }}/entity.php?context=geologic"><p>Геологический музей</p></a>
                    <div class="footer-projects">
                        <a href="{{ wwwroot }}/entities.php?context=projects"><p class="bold heads">Проекты</p></a>
                    </div>
                </div>
                <div class="w3-quarter w3-justify w3-container">
                    <a href="{{ wwwroot }}/history.php"><p class="bold heads">История</p></a>
                    <a href="{{ wwwroot }}/entity.php?context=about-history"><p>Становление</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=periods"><p>Хронология</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=books"><p>Книги</p></a>
                    <a href="{{ wwwroot }}/history.php#papers-anchor"><p>Газеты</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=leaders"><p>Руководители</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=memories"><p>Воспоминания</p></a>
                    <a href="{{ wwwroot }}/history.php#history-of-our-university"><p>История институтов</p></a>
                    <a href="{{ wwwroot }}/entities.php?context=history-of-success"><p>История успеха</p></a>
                    <div class="footer-studs">
                        <a href="{{ wwwroot }}/entities.php?context=student-groups"><p class="bold heads">Студенческие отряды</p></a>
                    </div>
                </div>
                <div class="w3-quarter w3-justify w3-container">
                    <div class="footer-projects">
                        <a href="{{ wwwroot }}/entities.php?context=projects"><p class="bold heads">Проекты</p></a>
                    </div>
                    <div class="footer-studs">
                        <a href="{{ wwwroot }}/entities.php?context=student-groups"><p class="bold heads">Студенческие отряды</p></a>
                    </div>
                </div>
                <div class="contacts w3-quarter w3-justify w3-container">
                    <p class="bold heads">Контакты</p>
                    <p class="footer-before">© {{ current_date|date("Y") }}, ФГБОУ ВО СибГИУ</p>
                    <p class="footer-before">Кемеровская область, г. Новокузнецк</p>
                    <p class="footer-before">654007, ул. Кирова, 42, каб. 239, 234</p>
                    <p class="excursion">Экскурсия по записи</p>
                    <p class="heads white" style="word-spacing: 48px;">Телефон <span>(3843)46-45-47</span></p>
                    <p class="heads white" style="word-spacing: 66px;">E-mail <span>museum@sibsiu.ru</span></p>
                    <p class="heads white" style="word-spacing: 18px;">Заведующий <span>Быкасова<span style="color: transparent;">_</span>Л.В.</span></p>
                    <p class="heads white" style="word-spacing: 61px;">vk.com <span>/club137905709</span></p>
                </div>
            </div>
            <div class="siu ">СибГИУ</div>
            <img class="siu-img" src="{{ wwwroot }}/images/siu.png">
        </div>
    </footer>
    {% endblock %}
</body>
</html>
