{% extends "layout.html" %}

{% block header%}
{% endblock %}

{% block styles %}
{{ parent() }}
<style type="text/css">
    main {
        min-height: 0;
        height: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="log-outer">
    <div class="log-inner">
        <form method="post">
            {% if error|length > 0 %}
            <div id="loginsnackbar">
                {{ error }}
            </div>
            {% endif %}
            <div class="input-container">
                <input type="password" id="password" name="password" readonly onfocus="this.removeAttribute('readonly')"  required="required" />
                <label>Введите пароль</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button type="submit" name="auth"><span>Вход</span></button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    snackbarFunction();

    function snackbarFunction() {
        // Get the snackbar DIV
        var x = document.getElementById("loginsnackbar");
        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }

</script>
{% endblock %}

{% block footer%}
{% endblock %}