{% extends "layout.html" %}

{% block content %}
<div id="main" class="museum" data-location="museum">
    <h1 class="caption w3-container">МУЗЕЙ<span class="lightGrey-2"> / MUSEUM</span></h1>
    <p class="about w3-container">
        {{ about }}
    </p>
    <div class="allpubs w3-container"><a href="{{ wwwroot }}/entity.php?context=about#main">ПОДРОБНЕЕ</a></div>
    <h2 class="bold w3-container">Новости музея</h2>
    <div class="w3-row">
        <div class="quarter-to-2">
        {% for new in news|slice(0, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing">
                    {% if new.files.image %}
                    <img src="{{ wwwroot }}/file.php?id={{ new.files.image }}">
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ new.id }}&returnurl={{ returnurl|url_encode }}#main"><p class="bold w3-large">{{ new.params.name }}</p></a>
                <p class="lightGrey text2">{{ new.date|raw|date("d.m.Y H:i") }}</p>
                <p>{{ new.content }}</p>
            </div>
        {% endfor %}
        </div>
        <div class="quarter-to-2">
        {% for new in news|slice(2, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing">
                    {% if new.files.image %}
                    <img src="{{ wwwroot }}/file.php?id={{ new.files.image }}">
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ new.id }}&returnurl={{ returnurl|url_encode }}#main"><p class="bold w3-large">{{ new.params.name }}</p></a>
                <p class="lightGrey text2">{{ new.date|raw|date("d.m.Y H:i") }}</p>
                <p>{{ new.content }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="allpubs w3-container"><a href="{{ wwwroot }}/entities.php?context=news#main">ВСЕ НОВОСТИ</a></div>

    <h2 class="bold w3-container">Экспозиция</h2>
    <div class="w3-row">
        <div class="w3-container w3-half histoInsts">
            <a><p class="bold w3-large">- От СИЧМ к СибГИУ: 80 лет в истории</p></a>
            <a><p class="bold w3-large">- История и развитие факультетов СибГИУ </p></a>
            <a><p class="bold w3-large">- СМИ в годы Великой Отечественной войны</p></a>
        </div>
        <div class="w3-container w3-half histoInsts w3-margin-bottom">
            <a><p class="bold w3-large">- Студенческие строительные отряды СМИ </p></a>
            <a><p class="bold w3-large">- Ученые, профессора, члены академий вуза  </p></a>
            <a><p class="bold w3-large">- Знаменитые выпускники вуза</p></a>
        </div>
    </div>
    <div class="allpubs w3-container"><a>ВСЕ ТЕМАТИКИ</a></div>

    <h2 class="bold w3-container">Тематические выставки</h2>
    <div class="w3-row">
        <div class="quarter-to-2">
            {% for exhibition in exhibitions|slice(0, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing">
                    {% if exhibition.files.image %}
                    <img src="{{ wwwroot }}/file.php?id={{ exhibition.files.image }}">
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ exhibition.id }}&returnurl={{ returnurl|url_encode }}#main"><p class="bold w3-large">{{ exhibition.params.name }}</p></a>
                <p class="lightGrey text2">{{ exhibition.params.interval }}</p>
                <p>{{ exhibition.content }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="quarter-to-2">
            {% for exhibition in exhibitions|slice(2, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2">
                    {% if exhibition.files.image %}
                    <img src="{{ wwwroot }}/file.php?id={{ exhibition.files.image }}">
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ exhibition.id }}&returnurl={{ returnurl|url_encode }}#main"><p class="bold w3-large">{{ exhibition.params.name }}</p></a>
                <p class="lightGrey text2">{{ exhibition.params.interval }}</p>
                <p>{{ exhibition.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="allpubs w3-container"><a href="{{ wwwroot }}/entities.php?context=exhibitions#main">ВСЕ ВЫСТАВКИ</a></div>

    <h2 class="bold w3-container">Календарь знаменательных дат</h2>

    <h2 class="bold w3-container">День дарителя</h2>

    <h2 class="bold w3-container">Геологический музей</h2>
    <div class="w3-row">
        <p class="w3-container">
            {{ geologic }}
        </p>
    </div>
    <div class="allpubs w3-container"><a  href="{{ wwwroot }}/entity.php?context=geologic#main">ПОДРОБНЕЕ</a></div>

</div>
{% endblock %}
