{% extends "layout.html" %}

{% block content %}
<div id="main" class="museum museum-image" data-location="museum">
    <h1 class="caption">МУЗЕЙ<span class="lightGrey-2"> / MUSEUM</span></h1>
    <p class="about">
        {{ about }}
    </p>
    <div class="allpubs"><a href="{{ wwwroot }}/entity.php?context=about">ПОДРОБНЕЕ</a></div>
	
    <h2 class="bold" id="news-anchor">Новости музея</h2>
    <div class="w3-row">
        <div class="quarter-to-2">
        {% for new in news|slice(0, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing">
                    {% if new.files.photos %}
                    <img src="{{ wwwroot }}/file.php?id={{ (new.files.photos|last).id }}">
                    {% else %}
                    <div class="placeholder-news"></div>
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ new.id }}&returnurl={{ (returnurl ~ '#news-anchor')|url_encode }}">
                    <p class="bold w3-large w3-margin-0">{{ new.params.name }}</p>
                </a>
                <p class="lightGrey text2">{{ new.date|raw|date("d.m.Y H:i") }}</p>
                <p>{{ new.content }}</p>
            </div>
        {% endfor %}
        </div>
        <div class="quarter-to-2">
        {% for new in news|slice(2, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing placeholder-news">
                    {% if new.files.photos %}
                    <img src="{{ wwwroot }}/file.php?id={{ (new.files.photos|last).id }}">
                    {% else %}
                    <div class="placeholder-news"></div>
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ new.id }}&returnurl={{ (returnurl ~ '#news-anchor')|url_encode }}">
                    <p class="bold w3-large w3-margin-0">{{ new.params.name }}</p>
                </a>
                <p class="lightGrey text2">{{ new.date|raw|date("d.m.Y H:i") }}</p>
                <p>{{ new.content }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=news">ВСЕ НОВОСТИ</a></div>

    <h2 class="bold" id="expositions-anchor">Экспозиция</h2>
    <div class="w3-row">
        {% set separator = (expositions|length / 2)|round(0, 'ceil') %}
        <div class="w3-half histoInsts">
            <a href="{{ wwwroot }}/entities.php?context=exposition-scientists">
                <p class="bold w3-large">-&nbsp;Ученые, профессора, члены академий вуза</p>
            </a>
            {% for exposition in expositions[:separator] %}
            <a href="{{ wwwroot }}/entity.php?id={{ exposition.id }}&returnurl={{ (returnurl ~ '#expositions-anchor')|url_encode }}">
                <p class="bold w3-large">-&nbsp;{{ exposition.params.name|raw }}</p>
            </a>
            {% endfor %}
        </div>
        <div class="w3-half histoInsts w3-margin-bottom">
            <a href="{{ wwwroot }}/entities.php?context=exposition-graduates">
                <p class="bold w3-large">-&nbsp;Знаменитые выпускники вуза</p>
            </a>
            {% for exposition in expositions[separator:] %}
            <a href="{{ wwwroot }}/entity.php?id={{ exposition.id }}&returnurl={{ (returnurl ~ '#expositions-anchor')|url_encode }}">
                <p class="bold w3-large">-&nbsp;{{ exposition.params.name|raw }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=exposition">ВСЕ ЭКСПОЗИЦИИ</a></div>

    <h2 class="bold" id="exhibitions-anchor">Тематические выставки</h2>
    <div class="w3-row">
        <div class="quarter-to-2">
            {% for exhibition in exhibitions|slice(0, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing">
                    {% if exhibition.files.photos %}
                    <img src="{{ wwwroot }}/file.php?id={{ (exhibition.files.photos|last).id }}">
                    {% else %}
                    <div class="placeholder-exhibition"></div>
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ exhibition.id }}&returnurl={{ returnurl ~ '#exhibitions-anchor'|url_encode }}">
                    <p class="bold w3-large w3-margin-0">{{ exhibition.params.name }}</p>
                </a>
                <p class="lightGrey text2">{{ exhibition.params.interval }}</p>
                <p>{{ exhibition.content }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="quarter-to-2">
            {% for exhibition in exhibitions|slice(2, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing placeholder-exhibition">
                    {% if exhibition.files.photos %}
                    <img src="{{ wwwroot }}/file.php?id={{ (exhibition.files.photos|last).id }}">
                    {% else %}
                    <div class="placeholder-exhibition"></div>
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ exhibition.id }}&returnurl={{ returnurl ~ '#exhibitions-anchor'|url_encode }}">
                    <p class="bold w3-large w3-margin-0">{{ exhibition.params.name }}</p>
                </a>
                <p class="lightGrey text2">{{ exhibition.params.interval }}</p>
                <p>{{ exhibition.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=exhibitions">ВСЕ ВЫСТАВКИ</a></div>

    <h2 class="bold" id="calendar-anchor">Календарь знаменательных дат</h2>
    <section class="cd-horizontal-timeline">
        <div class="timeline">
            <div class="events-wrapper">
                <div class="events">
                    <ol>
                        {% for date in calendar %}
                            <li><a href="#0" data-date="{{ date.params.timestamp|date('d/m/Y') }}">
                                {{ date.params.timestamp|date('d.m.Y') }}
                            </a></li>
                        {% endfor %}
                    </ol>
                    <span class="filling-line" aria-hidden="true"></span>
                </div> <!-- .events -->
            </div> <!-- .events-wrapper -->
            <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-timeline-navigation -->
        </div> <!-- .timeline -->

        <div class="events-content">
            <ol>
                {% for date in calendar %}
                <li data-date="{{ date.params.timestamp|date('d/m/Y') }}">
                    <a href="{{ wwwroot }}/entity.php?id={{ date.id }}&returnurl={{ returnurl ~ '#calendar-anchor'|url_encode }}">
                        <p class="bold w3-large w3-margin-0">{{ date.params.name }}</p>
                    </a>
                    <p> {{ date.content }}</p>
                </li>
                {% endfor %}
            </ol>
        </div> <!-- .events-content -->
    </section>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=calendar">ВСЕ ЗНАМЕНАТЕЛЬНЫЕ ДАТЫ</a></div>

    <h2 class="bold" id="presents-anchor">День дарителя</h2>
    <div class="w3-row">
        <div class="quarter-to-2">
            {% for present in presents|slice(0, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing">
                    {% if present.files.image %}
                    <img src="{{ wwwroot }}/file.php?id={{ (present.files.image).id }}">
                    {% else %}
                    <div class="placeholder-gift"></div>
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ present.id }}&returnurl={{ returnurl ~ '#presents-anchor'|url_encode }}">
                    <p class="bold w3-large w3-margin-0">{{ present.params.name }}</p>
                </a>
                <p class="lightGrey text2">Даритель: {{ present.params.presenter }}</p>
                <p>{{ present.content }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="quarter-to-2">
            {% for present in presents|slice(2, 2) %}
            <div class="w3-quarter w3-container quarttohalf">
                <div class="imgBox2 image-proportional-resizing">
                    {% if present.files.image %}
                    <img src="{{ wwwroot }}/file.php?id={{ (present.files.image).id }}">
                    {% else %}
                    <div class="placeholder-gift"></div>
                    {% endif %}
                </div>
                <a href="{{ wwwroot }}/entity.php?id={{ present.id }}&returnurl={{ returnurl ~ '#presents-anchor'|url_encode }}">
                    <p class="bold w3-large w3-margin-0">{{ present.params.name }}</p>
                </a>
                <p class="lightGrey text2">Даритель: {{ present.params.presenter }}</p>
                <p>{{ present.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="allpubs"><a href="{{ wwwroot }}/entities.php?context=presents">ВСЕ ПОДАРКИ</a></div>

    <h2 class="bold" id="geologic-anchor">Геологический музей</h2>
    <div class="w3-row">
        <p>
            {{ geologic }}
        </p>
    </div>
    <div class="allpubs"><a  href="{{ wwwroot }}/entity.php?context=geologic">ПОДРОБНЕЕ</a></div>

</div>
{% endblock %}
