{% extends "layout.html" %}

{% block content %}
<div id="main" class="new" data-location="news">
    <h1 class="caption w3-container w3-xxlarge">События в музее</h1>
    <div class="w3-row textrow1 w3-container ">
        <p class="bold w3-large w3-margin-0">
            {{ entity.params.name|raw }}
        </p>
        {% if admin %}
        <div class="p-to-form">
            <a href="{{ wwwroot }}/admin/edit.php?id={{ entity.id }}#main"><img src="{{ wwwroot }}/images/edit.png" /></a>
            <a href="{{ wwwroot }}/admin/delete.php?id={{ entity.id }}#main"><img src="{{ wwwroot }}/images/delete.png" /></a>
        </div>
        {% endif %}
        <p class="lightGrey text2">{{ entity.date|date("d.m.Y H:i") }}</p>
    </div>
    <div class="post-tiny w3-container">
        {{ entity.params.fulltext|raw }}
    </div>
    <div style="display: inline-block">
        {% for photo in entity.files.photos %}
            <div class="entity-image-container imgBox1 image-proportional-resizing">
                {% if admin %}
                <form class="delete-image" method="post" enctype="multipart/form-data" action="{{ wwwroot }}/admin/delfile.php">
                    <input type="hidden" name="id" value="{{ photo }}">
                    <input type="submit" name="add" value="X">
                </form>
                {% endif %}
                <a href="{{ wwwroot }}/file.php?id={{ photo }}" data-fancybox="group" data-type="image">
                    <div>
                        <img  src="{{ wwwroot }}/file.php?id={{ photo }}">
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if admin %}
        <div class="entity-image-add">
            <form method="post" enctype="multipart/form-data" action="{{ wwwroot }}/admin/addfile.php">
                <input type="hidden" name="id" value="{{ entity.id }}">
                <input type="hidden" name="filearea" value="photos">
                <label>
                    <input type="file" name="file" onchange="this.form.submit()">
                </label>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="to-back"><a href="{{ returnurl }}">Назад</a></div>
</div>
{% endblock %}
