{% extends "layout.html" %}

{% block content %}
<div id="main" class="new"  style="background-image: url(images/museum_img.png); background-repeat: no-repeat;background-position: 790px 55px;">
    <h1 class="caption w3-container w3-xxlarge">События в музее</span></h1>


    <div class="w3-row textrow1 w3-container ">
        <p class="bold w3-large w3-margin-0">
            {{ entity.params.name|raw }}
        </p>
        {% if admin %}
        <div class="p-to-form">
            <a href="{{ wwwroot }}/admin/edit.php?id={{ entity.id }}#main"><img src="images/edit.png" /></a>
            <a href="{{ wwwroot }}/admin/delete.php?id={{ entity.id }}#main"><img src="images/delete.png" /></a>
        </div>
        {% endif %}
        <p class="lightGrey text2">{{ entity.date|raw }}</p>


        <!--
        <div class="newimgo">
            <div class="imgBox2"><div class="inner"><img src="images/2-1.jpg"></div></div>
            <div class="imgBox2"><div class="inner"><img src="images/2-2.jpg"></div></div>
            <div class="imgBox2"><div class="inner"><img src="images/2-3.jpg"></div></div>
            <div class="imgBox2"><div class="inner"><img src="images/2-4.jpg"></div></div>
        </div>

        -->
    </div>
    <div class="post-tiny w3-container">
        {{ entity.params.fulltext|raw }}
    </div>
    <div class="to-back"><a href="{{ wwwroot }}/entities.php?context=news#main">Назад</a></div>
</div>
{% endblock %}
